/imagenes
/iot_platform/medicalIOT/IoTCloud/static/IoTCloud/img/iot_logo.jpg
/iot_platform/medicalIOT/IoTCloud/static/IoTCloud/img/Main_page_BG.jpg
/Imagenes/Monitor.png
/Imagenes/MonitorIMSS.png
/Imagenes/numeros.png
/Imagenes/numeros2.jpg
/Imagenes/opencv_frame_0.png
/Imagenes/opencv_frame_1.png
/Imagenes/opencv_frame_3.png