{% extends 'dashboard/dashboard.html' %}

{% load static %}

{% block gauge %}

<!-- Gauge chart JS tutorial:
     https://www.youtube.com/watch?v=kOZH_xiczb8&ab_channel=ChartJS -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

      .chartBox {
        width: 200px;
        padding: 10px;
        height: 200px;
        border-radius: 20px;
        border: solid 3px green;
        /*border: solid 3px rgba(54, 162, 235, 1);*/
        background: white;
      }
    </style>
  </head>
  <body>

      <div class="chartBox">
        <canvas id="myChart"></canvas>
      </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
    <script>
    // setup
    const data = {
      labels: ['Mon', 'Tue'],
      datasets: [{
        label: 'Weekly Sales',
        data: [18, 12],
        backgroundColor: [
          'rgba(255, 26, 104, 0.2)',
          'rgba(0, 0, 0, 0.2)'
        ],
        borderColor: [
          'rgba(255, 26, 104, 0.2)',
          'rgba(0, 0, 0, 0.2)'
        ],
        borderWidth: 1,
        cutout: '80%',
        circumference: 180,
        rotation: 270,
      }]
    };

    // gaugeChartText
    const gaugeChartText = {
        id: 'gaugeChartText',
        afterDatasetsDraw(chart, agrs, pluginOptions) {
            const { ctx, data, chartArea: {top, bottom, left, right, width, height}, scales: {r} } = chart;

            ctx.save();
            const xCoor = chart.getDatasetMeta(0).data[0].x;
            const yCoor = chart.getDatasetMeta(0).data[0].y;

            ctx.fillRect(xCoor, yCoor, 400, 1);

            ctx.font = '20px sans-serif';
            ctx.fillStyle = '#666';
            ctx.textBaseLine = 'top';
            ctx.textAlign = 'left';
            ctx.fillText('0', left, yCoor + 20);

            ctx.textAlign = 'right';
            ctx.fillText('220', right, yCoor + 20);

        }
    }

    // config
    const config = {
      type: 'doughnut',
      data,
      options: {
        aspectRatio: 1,
        plugins: {
            legend: {
                display: false
            },
            tooltip: {
                enabled: false
            }
        }
      },
      plugins: [gaugeChartText]
    };

    // render init block
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );

    // Instantly assign Chart.js version
    const chartVersion = document.getElementById('chartVersion');
    chartVersion.innerText = Chart.version;
    </script>

  </body>

{% endblock %}


