/*!
gggerre
*/
* {
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

#container {
    min-height: 100%;
}


#main {
    overflow: auto;
    padding-bottom: 50px;
}

#footer{
    background-color:#FFFFFF;
    position: relative;
    height: 50px;
    margin-top: -50px;
    clear: both;
}

#salute{
    height: 200px;
    text-align: center;
}

#container-img{
    height: 300px;
}

#container-text{
    margin: auto;
    width: 700px;
}

#container-footer{
    text-align: center;
}

#container-img{
    margin: auto;
}

body {
    background-color:#38A0C6;
}


head{
    color: #30BAEC;
    text-align: center;
}

