/* Stylesheet used only for the Home HTML script
   https://www.quackit.com/css/css_color_codes.cfm */

/* If the server doesn't shows the updated CSS information, please do ctrl+F5. Sometimes the Cache thinks the script
   is the same one, and doesn't loads the most recent CSS. With ctrl+F5 we order to reset the Cache and build the
   server again */

* {
    margin: 0;
    padding: 0;
}

/*
#bg {
    background-repeat: no-repeat;
    background-size: 1450px 770px;
    background-position: top;
    background-attachment: fixed;
} */

#bg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;

}


/* Main organizer section (content - footer) */

/* #page-container {
    position: relative;
    min-height: 100vh;
} */


#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #12171e;
}

.footer-text {
    text-align: center;
    color: #fff;
    padding-top: 10px;
}

.footer-text a {
    color: #fff;
    text-decoration: none;
}

/* End main organizer */


#content-wrap {
    /* Padding for font color: top, right, bottom, left */
    padding: 50px 30px 170px 30px;
    max-width: 700px;

    /* Margin distances: top, right, bottom, left */
    margin: 10px 375px 0px 375px ;
    background-color: #C8D5DF;
    border-radius: 30px 30px 30px 30px;

    /* Border radius: offset x, offset y, blur-radius, spread-radius, color */
    box-shadow: 10px 10px 4px 2px rgb(0 0 0 / 20%);
}

.logo-img {
    width: 200px;

    /* Margin distances: top, right, bottom, left */
    margin: 5px 200px 10px 200px;
    border-radius: 100%;
    border: 5px solid #eee;
}

.bienvenida{
   margin-bottom: 20px;
}

#titulo_bienvenida{
    text-align: center;
}

.boton {
    border: 3px solid #365b77;
    background-color: #FAFAFA;
    color: #02253d;
    padding: 8px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

