body {
    text-align: left;
    background-color:#012e46;
  }
head{
      color: #7498b6;
      text-align: center;
  }
p{
   color: #7498b6;
   text-align: center;
  }
a{
   color: #7498b6;
   text-align: center;

  }