/* Stylesheet used only for the DashBoard HTML script */

/* If the server doesn't shows the updated CSS information, please do ctrl+F5. Sometimes the Cache thinks the script
   is the same one, and doesn't loads the most recent CSS. With ctrl+F5 we order to reset the Cache and build the
   server again */


/*First alignment, its the margin for the title 'IoT Medical Cloud*/
.container {
    margin-left: 30px;
    margin-right: 10px;
    background: blue;
}

.graficos {
    margin-left: 60px;
    margin-right: 50px;
    display: flex;
    background: red;
}

.col_chart1 {
    width: 200px;
    min-height: 300px;
    background: green;
}

.col_chart2 {
    width: 200px;
    min-height: 300px;
    background: yellow;
}

.main-content .container h1{
    font-family: "Wallpoet", sans-serif;
    font-weight: 350;
    font-size: 60px;
}

.list_signos{
    /* This margin is considering the initial margin of 'main content' of 80 px, meaning that the margin is 80px
       initially, plus this 50px, 130 px in total of left margin*/
    margin-left: 50px;
}

.list_signos li{
    height: 35px;
}

.Signos_vitales {
    min-height: 300px;
    display: flex;
}

.col_monitor{
    width: 50%
    /*display: inline-block*/
}

.col_pulseoximeter{
    width: 50%
    /*display: inline-block*/
}






