<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medical IoT | Aviso de privacidad</title>
</head>
<body>

    <h1> Aviso de privacidad </h1>
    <br>
    <h2> Atención: </h2>
    <br>
    <br>
    <p> Quiero aclarar que aqui ira el aviso de privacidad, pero la vdd me dio mucha hueva hacerlo, no es prioritario.
        Fede, rífatela con esta mamada de paro, asi de compas. Pícale al botón para volver al contenido principal </p>

    <!-- Link to the 'inicio' page -->
    <div class="Inicio">
        <a href="{% url 'Home' %}">
            <input class="boton" type="submit" value="Pagina principal">
        </a>
    </div>

</body>
</html>