<!DOCTYPE html>
<html lang="es">

<!-- Command needed to load all the info held in the 'static' folder. This is Needed in all the HTML files -->
{% load static %}


<!-- Header of the html document -->
<head>
    <meta charset="UTF-8">
    <title>Medical IoT | {% block title%} {% endblock %}</title>

    <!-- CSS document loaded to the script -->
    <link href="{% static 'IoTCloud/css/app.css' %}" rel="stylesheet" type="text/css">
</head>


<!-- Body section of this HTML script -->
<body>

    <!-- Main content section -->
    <div id="container">
        <div id="main">
            {% block content %}

            {% endblock %}
        </div>
    </div>


    <!-- Footer of the HTML scrip -->
    <footer id="footer">
        {% block footer %}

        {% endblock %}
    </footer>

</body>

</html>