<!DOCTYPE html>
<html lang="en">
<head>
 <title>Medical Iot</title>
 <style>
   body {
     text-align: left;
     background-color:#012e46;
   }
   head{
       color: #7498b6;
       text-align: center;
   }
   p{
    color: #7498b6;
    text-align: center;
   }
 </style>
</head>
<body>
    <h1>Name - {{emp.name}}</h1>
    <img src="Mete.jpg">
    <br />
<head>Bienvenidos a Medical Iot Vamos a recivir datos del Esp Fede chinga tu madre</head>
</head>
<body>

 <p>Los aparatos médicos que están dotados de conectividad a la red forman parte de
   un ecosistema que ya ha adoptado su propio nombre. Es el internet de las cosas médicas (IoMT, por
   sus siglas en inglés), que recoge todos los dispositivos interconectados a través de redes wifi. Mediant
   e sensores informáticos, estos captan información y datos para almacenarlos en plataformas que se encuentran en la nu
   be. Vamos por unas putas. </p>
</body>
</html>