<!DOCTYPE html>
<html lang="es">

<!-- Command needed to load all the info held in the 'static' folder. This is Needed in all the HTML files -->
{% load static %}


<!-- Header of the html document -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical IoT | Home</title>

    <!-- CSS and additional documentation loaded to the script -->
    <link href="{% static 'IoTCloud/css/HomeMain.css' %}" rel="stylesheet">
</head>


<!-- Body section of this HTML script -->
<body id="bg" style="background-image: url('{% static 'IoTCloud/img/Main_page_BG.jpg' %}'); ">

    <div id="page-container">

        <!-- Contenido principal -->
        <div id="content-wrap">

            <!-- Main image with the logo -->
            <img src="{% static 'IoTCloud/img/iot_logo.jpg' %}" alt="Iot Logo.png" class="logo-img"/>

            <!-- Saludo inicial-->
            <div class="bienvenida">
                <h1 id="titulo_bienvenida"> Bienvenidos a Medical Cloud Services </h1>
            </div>


            <!-- Link to the 'inicio' page -->
            <div class="Inicio">
                <a href="{% url 'Inicio' %}">
                    <input class="boton" type="submit" value="Iniciar sesión">
                </a>
            </div>


            <!-- Principal text container-->
            <div id="container-text">
                <p> </p>
            </div>

        </div>

        <!-- Pié de página -->
        <footer id="footer">
            <p class="footer-text">
                Copyright &copy; 2024 ·
                <a href="{% url 'Historia' %}"> Medical Cloud Services S.A. de C.V  </a>
                 ·
                <a href="{% url 'AvisoPrivacidad' %}"> Aviso de privacidad </a>
            </p>
        </footer>

    </div>

</body>
</html>
<!-- End of the HTML document -->