{% extends 'iot_temp/Main_script.html' %}

{% load static %}

<head>
    {% block title %} Hospitales {% endblock %}

    {% block style %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'IoTCloud/css/StylesHospitales.css' %}">
    {% endblock %}
</head>


{% block content %}
<div class="Hospitales">
    <h2> Fede me la sigue pelando </h2>
    <br>
    <h3> Pd. Esta es la página donde el doctor podrá ver los hospitales a los que pertenece </h3>
    <br>
    <br>
    <div class="list_hosp">
            <ul>
                <li>
                    <h3> IMSS </h3>
                </li>
                <li>
                    <h3> Hosp. Ángeles </h3>
                </li>
                <li>
                    <h3> Hosp. Star Médica </h3>
                </li>
            </ul>
    </div>
</div>
{% endblock%}