{% extends 'iot_temp/Main_script.html' %}

{% load static %}

{% block title %} Inicio {% endblock %}

{% block content %}
    <br>
    <h3> Pd. Esta es la página de inicio </h3> <br>
    <p> Los aparatos médicos que están dotados de conectividad a la red forman parte de
                 un ecosistema que ya ha adoptado su propio nombre. Es el internet de las cosas médicas (IoMT, por
                 sus siglas en inglés), que recoge todos los dispositivos interconectados a través de redes wifi. Mediante
                 sensores informáticos, estos captan información y datos para almacenarlos en plataformas que se encuentran
                 en la nube. Vamos por unas chelas - Cesar Arias</p>
{% endblock%}
