<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medical IoT | About us </title>
</head>
<body>

    <h1> Equipo detrás de IoT Medical Cloud </h1>
    <br>
    <h2> Atención: </h2>
    <br>
    <p> Proyecto desarrolado por los ingenieros: </p>
    <ul>
        <li> Federico González </li>
        <li> Cesar Arias </li>
        <li> Antonio Gómez (el mero mero) </li>
    </ul>
    <br>
    <br>
    <p> Me dio flojera poner más info, fede rífatela aqui también </p>

    <!-- Link to the 'inicio' page -->
    <div class="Inicio">
        <a href="{% url 'Home' %}">
            <input class="boton" type="submit" value="Pagina principal">
        </a>
    </div>

</body>
</html>