<!DOCTYPE html>
<html lang="en">

<!-- Command needed to load all the info held in the 'static' folder. This is Needed in all the HTML files -->
{% load static %}


<!-- Header of the html document -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical IoT | {% block title%} {% endblock %}</title>

    <!-- CSS and additional documentation loaded to the script -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'IoTCloud/css/Sidebar.css' %}" >

    <!-- Links used for font styles, feel free to check more fonts at https://fonts.google.com/ -->
    <!-- Wallpoet font style for h1 'IoT Medical Cloud' -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Wallpoet&display=swap" rel="stylesheet">
    {% block style %}
     
    {% endblock %}
</head>

<!-- Body section of this HTML script -->
<body>

    <!-- Side Bar (please check 'https://boxicons.com/' for the icons currently being used -->
    <div class="sidebar">

        <div class="top">
            <div class="logo">
                <i class="bx bxl-codepen"></i>
                <span>Medical Cloud Services</span>
            </div>
            <i class="bx bx-menu" id="btn"> </i>
        </div>

        <div class="user">
            <img src="{% static 'IoTCloud/img/iot_logo.jpg' %}" alt="Iot Logo.png" class="user-img"/>
            <div>
                <a href="{% url 'Inicio' %}">
                    <p class="bold"> Dr. Franciso Hidalgo </p>
                </a>
                <p>Doctor</p>
            </div>
        </div>

        <ul>
            <li>
                <a href="{% url 'Dashboard' %}">
                    <i class="bx bxs-grid-alt"></i>
                    <span class="nav-item"> DashBoard </span>
                </a>
                <span class="tooltip"> DashBoard </span>
            </li>
            <li>
                <a href="{% url 'Hospitales' %}">
                    <i class="bx bx-location-plus"></i>
                    <span class="nav-item"> Hospitales </span>
                </a>
                <span class="tooltip"> Hospitales </span>
            </li>
            <li>
                <a href="{% url 'Pacientes' %}">
                    <i class="bx bx-body"></i>
                    <span class="nav-item"> Pacientes </span>
                </a>
                <span class="tooltip"> Pacientes </span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bxs-food-menu"></i>
                    <span class="nav-item"> Registros </span>
                </a>
                <span class="tooltip"> Registros </span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bxs-food-menu"></i>
                    <span class="nav-item"> Contactos </span>
                </a>
                <span class="tooltip"> Contactos </span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-list-check"></i>
                    <span class="nav-item"> Tareas </span>
                </a>
                <span class="tooltip"> Tareas </span>
            </li>
            <li>
                <a href="{% url 'Configuracion' %}">
                    <i class="bx bx-cog"></i>
                    <span class="nav-item"> Configuración </span>
                </a>
                <span class="tooltip"> Configuración </span>
            </li>
            <li>
                <a href="{% url 'Home' %}">
                    <i class="bx bx-log-out"></i>
                    <span class="nav-item"> Salir </span>
                </a>
                <span class="tooltip"> Salir </span>
            </li>
        </ul>
    </div>


    <!-- Main section of the server with all the information-->
    <div class="main-content">
        <div class="container">
            <h1> IoT Medical Cloud </h1>
            <br>
            {% block content %}
                <!-- Here goes the main content from the rest of the HTML scripts -->
            {% endblock %}
        </div>

        <!-- Pié de página -->
        <footer id="footer">
            <p class="footer-text">
                Copyright &copy; 2024 ·
                <a href="{% url 'Historia' %}"> Medical Cloud Services S.A. de C.V  </a>
                 ·
                <a href="{% url 'AvisoPrivacidad' %}"> Aviso de privacidad </a>
            </p>
        </footer>
    </div>



</body>

<script>
    let btn = document.querySelector('#btn');
    let sidebar = document.querySelector('.sidebar');

    btn.onclick = function () {
        sidebar.classList.toggle('active');
    };
</script>

</html>
<!-- End of the HTML document -->