{% extends 'iot_temp/Main_script.html' %}

{% load static %}

<head>
    {% block title %} Pacientes {% endblock %}

    {% block style %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'IoTCloud/css/StylesPacientes.css' %}">
    {% endblock %}
</head>


{% block content %}
<div class="Pacientes">
    <h2> Saludos {nombre del doctor | Fede rífate la base de datos} </h2>
    <br>
    <h3> Actualmente usted cuenta con {{ paciente.count }} de pacientes </h3>
    <br>
    <div class="Inicio">
        <a href="{% url 'PacienteNuevo' %}">
            <input class="boton_pacientes" type="submit" value="Agregar nuevo paciente">
        </a>
    </div>
    <br>
    <br>
    <div class="list_px">
        {% for paciente in paciente_list %}
        <ul>
            <li>
                <h3> {{paciente.nombre}} {{paciente.apellidopaterno}} {{paciente.apellidomaterno}}</h3>
            </li>
        </ul>
        {% endfor %}
    </div>
</div>
{% endblock%}